@model IrishNationalStud.Models.Foals
@{
    ViewData["Title"] = "Details";
}

<br />
<h2 class="text-info">Mare details</h2>

<div class="p-4 border rounded">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Name"></label><br /><br /><br />
            <label asp-for="DOB"></label><br /><br />
            <label asp-for="Sex"></label><br /><br />
            <label asp-for="Colour"></label><br /><br />
            <label asp-for="Sire"></label><br /><br />
            <label asp-for="Dam"></label><br /><br />
        </div>
        <div class="col-5">
            <input asp-for="Name" disabled class="form-control" /><br />
            <input asp-for="DOB" disabled class="form-control" /><br />
            <input asp-for="Sex" disabled class="form-control" /><br />
            <input asp-for="Colour" disabled class="form-control" /><br />
            <input asp-for="Sire" disabled class="form-control" /><br />
            <input asp-for="Dam" disabled class="form-control" /><br />
        </div>
    </div>
    <br />
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>


